.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-shadow: black;
  text-decoration: double;
  height: 100vh;
  font-weight: 600;
  color: rgb(229, 255, 0);
  text-shadow: black;
  text-decoration: double;
  font-size: 65px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header div {
  display: flex;
  width: 100%;
  text-shadow: black;
  text-decoration: double;
  justify-content: center;
  color: rgb(217, 255, 0);
  background-image: url("/quesotienda.jpeg");
  /* Set the background image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}