.header{
      display: flex;
      width: 100%;
      justify-content:center;
      color:rgb(17, 0, 255);
      background-image: url("/fondo2.jpg"); 
      background-repeat: repeat;
      background-position: center;
      background-size: 100%;
    }
    
.imagenes {
    display: flex;
    flex-direction: row;
    /* Orientación horizontal */
    justify-content: center;
    /* Centrar contenido horizontalmente */
    height: 100vh;
    /* Altura 100% de la ventana gráfica */
    align-items: center;
    /* Centrar elementos verticalmente */
    border-radius: 20%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
.image {
      max-width: 33%;
      height: 40vh;
      border-radius: 20%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      font-weight: 600;
      color:rgb(73, 194, 194);
      font-size: 65px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
